# Python
__pycache__/
services/playwright_tmp_profile/
app/scripts/playwright_tmp_profile/
playwright_tmp_profile/
Tour_list.txt

# Données générées
data/cleaned_data/
data/exports/prefetched_graphs.json
app/data/exports/prefetched_graphs.json
data/omega_json_endpoint_single/
data/raw/
data/processed/

# Fichiers locaux
cookies_omegatiming.txt
.env
bearer_token.txt
state.json
app/visualization/desktop_app.py

# Environnement virtuel
.venv/
venv/

# OS
.DS_Store

